In [1]:
#read csv file into datafram
import pandas as pd
import numpy as np
df=pd.read_csv(r".\synthetic_ecommerce_data.csv")
df

,order_id,customer_id,discount_applied,order_total,order_date,sale_period,item_id,discount_amount,cart_id,cart_status,...,time_spent,cart_modification_timestamp,loyalty_program_enrolled,wishlist_status,purchase_date,return_status,discount_offer_timestamp,discount_use_timestamp,purchase_timestamp,search_query
0,1,39,True,69.82,2024-03-22 18:56:05.564599,False,39,1.53,1,abandoned,...,224.98,2024-03-23 11:56:05.564599,False,added,NaN,False,2024-03-27 18:56:05.564599,2024-04-05 18:56:05.564599,NaN,watch
1,2,29,False,184.59,2024-06-25 18:56:05.564631,False,100,0.00,2,completed,...,292.97,2024-06-26 14:56:05.564631,True,removed,2024-07-04 18:56:05.564631,True,2024-07-04 18:56:05.564631,2024-07-13 18:56:05.564631,2024-07-05 04:56:05.564631,laptop
2,3,15,False,454.35,2024-02-03 18:56:05.564641,False,33,0.00,3,completed,...,184.13,2024-02-04 03:56:05.564641,True,added,2024-02-10 18:56:05.564641,True,2024-02-04 18:56:05.564641,2024-02-08 18:56:05.564641,2024-02-11 04:56:05.564641,watch
3,4,43,False,143.34,2024-07-06 18:56:05.564651,True,101,0.00,4,abandoned,...,201.83,2024-07-07 11:56:05.564651,False,added,NaN,False,2024-07-11 18:56:05.564651,2024-07-16 18:56:05.564651,NaN,phone
4,5,8,True,327.37,2023-12-03 18:56:05.564660,False,23,47.55,5,completed,...,270.61,2023-12-04 14:56:05.564660,False,added,2023-12-04 18:56:05.564660,False,2023-12-12 18:56:05.564660,2023-12-14 18:56:05.564660,2023-12-05 05:56:05.564660,headphones
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,1,False,252.01,2024-02-29 18:56:05.565513,False,141,0.00,96,abandoned,...,392.44,2024-02-29 20:56:05.565513,True,added,NaN,False,2024-03-06 18:56:05.565513,2024-03-09 18:56:05.565513,NaN,watch
96,97,25,False,97.62,2023-09-18 18:56:05.565522,False,187,0.00,97,abandoned,...,146.02,2023-09-18 21:56:05.565522,True,removed,NaN,False,2023-09-26 18:56:05.565522,2023-10-03 18:56:05.565522,NaN,camera
97,98,7,True,189.57,2024-05-31 18:56:05.565532,False,19,34.55,98,abandoned,...,117.85,2024-06-01 17:56:05.565532,True,added,NaN,False,NaN,NaN,NaN,camera
98,99,9,False,374.64,2023-08-21 18:56:05.565540,False,177,0.00,99,completed,...,114.21,2023-08-22 17:56:05.565540,True,added,2023-08-28 18:56:05.565540,False,NaN,NaN,2023-08-29 04:56:05.565540,camera
99,100,24,False,363.26,2023-09-27 18:56:05.565550,True,100,0.00,100,abandoned,...,262.44,2023-09-28 06:56:05.565550,False,removed,NaN,False,NaN,NaN,NaN,laptop

In [13]:
#Discount Usage Frequency (DUF)
def calculate_duf(df):
    """
    Calculates the Discount Usage Frequency (DUF) for each customer.

    Args:
        df: A pandas DataFrame containing the following columns:
            - order_id
            - customer_id
            - discount_applied (boolean or amount)

    Returns:
        A pandas Series with customer_id as index and DUF as values.
    """

    # Filter orders with discounts
    discounted_orders = df[df['discount_applied'] > 0]
    # print(discounted_orders)
    # Count orders per customer
    order_counts = df.groupby('customer_id')['order_id'].count()
    # print(order_counts)
    # Count discounted orders per customer
    discounted_order_counts = discounted_orders.groupby('customer_id')['order_id'].count()
    # print(discounted_order_counts)
    # Fill missing values with 0 (customers with no discounted orders)
    discounted_order_counts = discounted_order_counts.reindex(order_counts.index).fillna(0)
    # print(discounted_order_counts)
    # Calculate DUF
    duf = discounted_order_counts / order_counts
    # print(duf)
    return duf
k=calculate_duf(df)
k

customer_id
1     0.000000
2     0.500000
3     1.000000
4     0.666667
6     1.000000
7     1.000000
8     0.666667
9     0.333333
10    1.000000
11    1.000000
12    0.000000
14    1.000000
15    0.000000
16    0.000000
17    1.000000
18    1.000000
19    1.000000
20    1.000000
21    0.500000
22    0.500000
23    0.500000
24    0.400000
25    0.000000
26    0.666667
27    1.000000
28    0.500000
29    0.000000
30    1.000000
31    0.000000
33    1.000000
34    1.000000
35    1.000000
36    0.666667
37    1.000000
38    0.000000
39    1.000000
40    0.666667
41    0.000000
42    0.500000
43    0.000000
44    0.800000
45    0.000000
47    0.500000
48    1.000000
49    0.000000
Name: order_id, dtype: float64

In [19]:
import pandas as pd

def calculate_dscaf(df):
    """
    Calculates the Discount Sensitive Cart Abandonment Frequency (DSCAF) for each customer.

    Args:
        df (pd.DataFrame): A DataFrame containing the following columns:
            - cart_id: Unique identifier for each cart.
            - customer_id: Unique identifier for each customer.
            - cart_status: Indicates whether the cart was 'abandoned' or 'completed'.
            - discount_viewed: Boolean indicating whether a discount was viewed in the cart.

    Returns:
        pd.Series: A Series with customer_id as index and DSCAF values as values. NaN values are replaced with 0.
    """

    # Handle missing values
    df = df.fillna({
        'cart_status': 'completed',  # Assume missing cart_status means completed (not abandoned)
        'discount_viewed': False    # Assume missing discount_viewed means no discount was viewed
    })
    # Ensure that data types are correct
    df['discount_viewed'] = df['discount_viewed'].astype(bool)

    # Filter relevant carts (abandoned and discount viewed)
    abandoned_discount_viewed = df[
        (df['cart_status'] == 'abandoned') & (df['discount_viewed'] == True)
    ]

    # Filter all carts where a discount was viewed
    all_discount_viewed = df[df['discount_viewed'] == True]

    # Count occurrences per customer
    abandoned_counts = abandoned_discount_viewed['customer_id'].value_counts()
    total_counts = all_discount_viewed['customer_id'].value_counts()

    # Calculate DSCAF and handle division by zero (replace with 0)
    dscaf_series = abandoned_counts.divide(total_counts, fill_value=0)

    return dscaf_series
print(calculate_dscaf(df))

customer_id
1     1.000000
2     0.000000
3     1.000000
4     0.000000
6     0.000000
8     0.333333
9     1.000000
11    0.000000
12    1.000000
14    0.000000
15    0.666667
16    0.000000
17    1.000000
18    1.000000
19    1.000000
20    0.000000
23    0.000000
25    1.000000
28    1.000000
29    0.500000
30    1.000000
35    0.000000
36    0.500000
38    0.000000
39    1.000000
40    0.500000
42    1.000000
43    1.000000
44    0.250000
45    0.000000
47    1.000000
48    0.000000
49    1.000000
Name: count, dtype: float64

In [21]:
import pandas as pd

def calculate_discount_proportion(df: pd.DataFrame) -> pd.Series:
    """
    Calculates the Discount Proportion for each customer.

    This function determines the proportion of discounted items a customer
    has purchased out of their total items purchased.

    Args:
        df (pd.DataFrame): A Pandas DataFrame containing the following columns:
            - order_id: Unique identifier for each order
            - item_id: Unique identifier for each item within an order
            - discount_applied: Indicates whether a discount was applied to an item
                (True, False, or a numerical discount amount)

    Returns:
        pd.Series: A Pandas Series containing the Discount Proportion for each
                   unique `customer_id` in the DataFrame.
    """
   
    # Handle missing values
    df["discount_applied"] = df["discount_applied"].fillna(0)

    # Mark items as discounted if `discount_applied` is not 0 
    df["is_discounted"] = df["discount_applied"].apply(lambda x: True if x > 0 else False)

    # Calculate discount proportion per customer
    discount_proportion = (
        df.groupby('customer_id')['is_discounted']
        .agg(lambda x: x.mean())
        .fillna(0)  # Customers with no items get a 0% discount proportion
    )

    return discount_proportion
print(calculate_discount_proportion(df))

customer_id
1     0.000000
2     0.500000
3     1.000000
4     0.666667
6     1.000000
7     1.000000
8     0.666667
9     0.333333
10    1.000000
11    1.000000
12    0.000000
14    1.000000
15    0.000000
16    0.000000
17    1.000000
18    1.000000
19    1.000000
20    1.000000
21    0.500000
22    0.500000
23    0.500000
24    0.400000
25    0.000000
26    0.666667
27    1.000000
28    0.500000
29    0.000000
30    1.000000
31    0.000000
33    1.000000
34    1.000000
35    1.000000
36    0.666667
37    1.000000
38    0.000000
39    1.000000
40    0.666667
41    0.000000
42    0.500000
43    0.000000
44    0.800000
45    0.000000
47    0.500000
48    1.000000
49    0.000000
Name: is_discounted, dtype: float64

In [23]:
import pandas as pd

def calculate_pfds(df: pd.DataFrame) -> pd.Series:
    """
    Calculates the Purchase Frequency During Sales (PFDS) for each customer.

    This function determines the proportion of a customer's purchases that were
    made during sale periods, indicating their tendency to buy when items are
    discounted.

    Args:
        df (pd.DataFrame): A Pandas DataFrame containing the following columns:
            - order_id: Unique identifier for each order
            - customer_id: Unique identifier for each customer
            - order_date: Datetime value indicating the date of purchase
            - sale_period: Boolean (True/False) or datetime range 
                           indicating whether the purchase was made during a sale

    Returns:
        pd.Series: A Pandas Series containing the PFDS for each unique
                   `customer_id` in the DataFrame, ranging from 0 to 1.
    """

    # Handle missing values in `sale_period`
    # Assuming a purchase is NOT during a sale if `sale_period` is missing
    df['sale_period'] = df['sale_period'].fillna(False)

    # If `sale_period` is a datetime range, convert to boolean
    if pd.api.types.is_datetime64_any_dtype(df['sale_period']):
        df['sale_period'] = df['sale_period'].apply(
            lambda x: True
            if x.left <= df['order_date'] <= x.right
            else False
        )
    
    # Calculate total purchases per customer
    total_purchases = df.groupby('customer_id')['order_id'].nunique()

    # Filter to purchases made during sales
    sale_purchases = df[df['sale_period']].groupby('customer_id')['order_id'].nunique()

    # Calculate PFDS and fill missing values with 0 (customers with no sale purchases)
    pfds = sale_purchases.div(total_purchases, fill_value=0)

    return pfds
print(calculate_pfds(df))

customer_id
1     0.000000
2     0.500000
3     1.000000
4     0.333333
6     1.000000
7     0.000000
8     0.333333
9     0.333333
10    0.000000
11    0.500000
12    0.000000
14    0.750000
15    0.500000
16    1.000000
17    0.000000
18    0.333333
19    1.000000
20    1.000000
21    1.000000
22    0.000000
23    1.000000
24    0.800000
25    0.250000
26    0.666667
27    0.000000
28    0.500000
29    0.333333
30    0.000000
31    1.000000
33    1.000000
34    1.000000
35    0.000000
36    0.333333
37    0.000000
38    0.000000
39    0.333333
40    0.333333
41    0.000000
42    0.500000
43    1.000000
44    0.600000
45    0.000000
47    0.250000
48    0.000000
49    0.000000
Name: order_id, dtype: float64